.m-smll-1 {
  margin: 0.5em;
}

.mb-smll-1 {
  margin-block: 0.5em;
}

.mb-start-smll-1 {
  margin-block-start: 0.5em;
}

.mb-end-smll-1 {
  margin-block-end: 0.5em;
}

.mil-smll-1 {
  margin-inline: 0.5em;
}

.mil-start-smll-1 {
  margin-inline-start: 0.5em;
}

.mil-end-smll-1 {
  margin-inline-end: 0.5em;
}

.m-smll-2 {
  margin: 0.75em;
}

.mb-smll-2 {
  margin-block: 0.75em;
}

.mb-start-smll-2 {
  margin-block-start: 0.75em;
}

.mb-end-smll-2 {
  margin-block-end: 0.75em;
}

.mil-smll-2 {
  margin-inline: 0.75em;
}

.mil-start-smll-2 {
  margin-inline-start: 0.75em;
}

.mil-end-smll-2 {
  margin-inline-end: 0.75em;
}

.m-smll-3 {
  margin: 1em;
}

.mb-smll-3 {
  margin-block: 1em;
}

.mb-start-smll-3 {
  margin-block-start: 1em;
}

.mb-end-smll-3 {
  margin-block-end: 1em;
}

.mil-smll-3 {
  margin-inline: 1em;
}

.mil-start-smll-3 {
  margin-inline-start: 1em;
}

.mil-end-smll-3 {
  margin-inline-end: 1em;
}

.m-smll-4 {
  margin: 1.25em;
}

.mb-smll-4 {
  margin-block: 1.25em;
}

.mb-start-smll-4 {
  margin-block-start: 1.25em;
}

.mb-end-smll-4 {
  margin-block-end: 1.25em;
}

.mil-smll-4 {
  margin-inline: 1.25em;
}

.mil-start-smll-4 {
  margin-inline-start: 1.25em;
}

.mil-end-smll-4 {
  margin-inline-end: 1.25em;
}

.m-smll-5 {
  margin: 1.5em;
}

.mb-smll-5 {
  margin-block: 1.5em;
}

.mb-start-smll-5 {
  margin-block-start: 1.5em;
}

.mb-end-smll-5 {
  margin-block-end: 1.5em;
}

.mil-smll-5 {
  margin-inline: 1.5em;
}

.mil-start-smll-5 {
  margin-inline-start: 1.5em;
}

.mil-end-smll-5 {
  margin-inline-end: 1.5em;
}

.m-smll-6 {
  margin: 1.75em;
}

.mb-smll-6 {
  margin-block: 1.75em;
}

.mb-start-smll-6 {
  margin-block-start: 1.75em;
}

.mb-end-smll-6 {
  margin-block-end: 1.75em;
}

.mil-smll-6 {
  margin-inline: 1.75em;
}

.mil-start-smll-6 {
  margin-inline-start: 1.75em;
}

.mil-end-smll-6 {
  margin-inline-end: 1.75em;
}

.m-mdd-1 {
  margin: 2em;
}

.mb-mdd-1 {
  margin-block: 2em;
}

.mb-start-mdd-1 {
  margin-block-start: 2em;
}

.mb-end-mdd-1 {
  margin-block-end: 2em;
}

.mil-mdd-1 {
  margin-inline: 2em;
}

.mil-start-mdd-1 {
  margin-inline-start: 2em;
}

.mil-end-mdd-1 {
  margin-inline-end: 2em;
}

.m-mdd-2 {
  margin: 2.25em;
}

.mb-mdd-2 {
  margin-block: 2.25em;
}

.mb-start-mdd-2 {
  margin-block-start: 2.25em;
}

.mb-end-mdd-2 {
  margin-block-end: 2.25em;
}

.mil-mdd-2 {
  margin-inline: 2.25em;
}

.mil-start-mdd-2 {
  margin-inline-start: 2.25em;
}

.mil-end-mdd-2 {
  margin-inline-end: 2.25em;
}

.m-mdd-3 {
  margin: 2.5em;
}

.mb-mdd-3 {
  margin-block: 2.5em;
}

.mb-start-mdd-3 {
  margin-block-start: 2.5em;
}

.mb-end-mdd-3 {
  margin-block-end: 2.5em;
}

.mil-mdd-3 {
  margin-inline: 2.5em;
}

.mil-start-mdd-3 {
  margin-inline-start: 2.5em;
}

.mil-end-mdd-3 {
  margin-inline-end: 2.5em;
}

.m-mdd-4 {
  margin: 2.75em;
}

.mb-mdd-4 {
  margin-block: 2.75em;
}

.mb-start-mdd-4 {
  margin-block-start: 2.75em;
}

.mb-end-mdd-4 {
  margin-block-end: 2.75em;
}

.mil-mdd-4 {
  margin-inline: 2.75em;
}

.mil-start-mdd-4 {
  margin-inline-start: 2.75em;
}

.mil-end-mdd-4 {
  margin-inline-end: 2.75em;
}

.m-mdd-5 {
  margin: 3em;
}

.mb-mdd-5 {
  margin-block: 3em;
}

.mb-start-mdd-5 {
  margin-block-start: 3em;
}

.mb-end-mdd-5 {
  margin-block-end: 3em;
}

.mil-mdd-5 {
  margin-inline: 3em;
}

.mil-start-mdd-5 {
  margin-inline-start: 3em;
}

.mil-end-mdd-5 {
  margin-inline-end: 3em;
}

.m-mdd-6 {
  margin: 3.25em;
}

.mb-mdd-6 {
  margin-block: 3.25em;
}

.mb-start-mdd-6 {
  margin-block-start: 3.25em;
}

.mb-end-mdd-6 {
  margin-block-end: 3.25em;
}

.mil-mdd-6 {
  margin-inline: 3.25em;
}

.mil-start-mdd-6 {
  margin-inline-start: 3.25em;
}

.mil-end-mdd-6 {
  margin-inline-end: 3.25em;
}

.m-lgg-1 {
  margin: 3.5em;
}

.mb-lgg-1 {
  margin-block: 3.5em;
}

.mb-start-lgg-1 {
  margin-block-start: 3.5em;
}

.mb-end-lgg-1 {
  margin-block-end: 3.5em;
}

.mil-lgg-1 {
  margin-inline: 3.5em;
}

.mil-start-lgg-1 {
  margin-inline-start: 3.5em;
}

.mil-end-lgg-1 {
  margin-inline-end: 3.5em;
}

.m-lgg-2 {
  margin: 3.75em;
}

.mb-lgg-2 {
  margin-block: 3.75em;
}

.mb-start-lgg-2 {
  margin-block-start: 3.75em;
}

.mb-end-lgg-2 {
  margin-block-end: 3.75em;
}

.mil-lgg-2 {
  margin-inline: 3.75em;
}

.mil-start-lgg-2 {
  margin-inline-start: 3.75em;
}

.mil-end-lgg-2 {
  margin-inline-end: 3.75em;
}

.m-lgg-3 {
  margin: 4em;
}

.mb-lgg-3 {
  margin-block: 4em;
}

.mb-start-lgg-3 {
  margin-block-start: 4em;
}

.mb-end-lgg-3 {
  margin-block-end: 4em;
}

.mil-lgg-3 {
  margin-inline: 4em;
}

.mil-start-lgg-3 {
  margin-inline-start: 4em;
}

.mil-end-lgg-3 {
  margin-inline-end: 4em;
}

.m-lgg-4 {
  margin: 4.25em;
}

.mb-lgg-4 {
  margin-block: 4.25em;
}

.mb-start-lgg-4 {
  margin-block-start: 4.25em;
}

.mb-end-lgg-4 {
  margin-block-end: 4.25em;
}

.mil-lgg-4 {
  margin-inline: 4.25em;
}

.mil-start-lgg-4 {
  margin-inline-start: 4.25em;
}

.mil-end-lgg-4 {
  margin-inline-end: 4.25em;
}

.m-lgg-5 {
  margin: 4.5em;
}

.mb-lgg-5 {
  margin-block: 4.5em;
}

.mb-start-lgg-5 {
  margin-block-start: 4.5em;
}

.mb-end-lgg-5 {
  margin-block-end: 4.5em;
}

.mil-lgg-5 {
  margin-inline: 4.5em;
}

.mil-start-lgg-5 {
  margin-inline-start: 4.5em;
}

.mil-end-lgg-5 {
  margin-inline-end: 4.5em;
}

.m-lgg-6 {
  margin: 4.75em;
}

.mb-lgg-6 {
  margin-block: 4.75em;
}

.mb-start-lgg-6 {
  margin-block-start: 4.75em;
}

.mb-end-lgg-6 {
  margin-block-end: 4.75em;
}

.mil-lgg-6 {
  margin-inline: 4.75em;
}

.mil-start-lgg-6 {
  margin-inline-start: 4.75em;
}

.mil-end-lgg-6 {
  margin-inline-end: 4.75em;
}

.m-xll-1 {
  margin: 5em;
}

.mb-xll-1 {
  margin-block: 5em;
}

.mb-start-xll-1 {
  margin-block-start: 5em;
}

.mb-end-xll-1 {
  margin-block-end: 5em;
}

.mil-xll-1 {
  margin-inline: 5em;
}

.mil-start-xll-1 {
  margin-inline-start: 5em;
}

.mil-end-xll-1 {
  margin-inline-end: 5em;
}

.m-xll-2 {
  margin: 5.25em;
}

.mb-xll-2 {
  margin-block: 5.25em;
}

.mb-start-xll-2 {
  margin-block-start: 5.25em;
}

.mb-end-xll-2 {
  margin-block-end: 5.25em;
}

.mil-xll-2 {
  margin-inline: 5.25em;
}

.mil-start-xll-2 {
  margin-inline-start: 5.25em;
}

.mil-end-xll-2 {
  margin-inline-end: 5.25em;
}

.m-xll-3 {
  margin: 5.5em;
}

.mb-xll-3 {
  margin-block: 5.5em;
}

.mb-start-xll-3 {
  margin-block-start: 5.5em;
}

.mb-end-xll-3 {
  margin-block-end: 5.5em;
}

.mil-xll-3 {
  margin-inline: 5.5em;
}

.mil-start-xll-3 {
  margin-inline-start: 5.5em;
}

.mil-end-xll-3 {
  margin-inline-end: 5.5em;
}

.m-xll-4 {
  margin: 5.75em;
}

.mb-xll-4 {
  margin-block: 5.75em;
}

.mb-start-xll-4 {
  margin-block-start: 5.75em;
}

.mb-end-xll-4 {
  margin-block-end: 5.75em;
}

.mil-xll-4 {
  margin-inline: 5.75em;
}

.mil-start-xll-4 {
  margin-inline-start: 5.75em;
}

.mil-end-xll-4 {
  margin-inline-end: 5.75em;
}

.m-xll-5 {
  margin: 6em;
}

.mb-xll-5 {
  margin-block: 6em;
}

.mb-start-xll-5 {
  margin-block-start: 6em;
}

.mb-end-xll-5 {
  margin-block-end: 6em;
}

.mil-xll-5 {
  margin-inline: 6em;
}

.mil-start-xll-5 {
  margin-inline-start: 6em;
}

.mil-end-xll-5 {
  margin-inline-end: 6em;
}

.m-xll-6 {
  margin: 6.25em;
}

.mb-xll-6 {
  margin-block: 6.25em;
}

.mb-start-xll-6 {
  margin-block-start: 6.25em;
}

.mb-end-xll-6 {
  margin-block-end: 6.25em;
}

.mil-xll-6 {
  margin-inline: 6.25em;
}

.mil-start-xll-6 {
  margin-inline-start: 6.25em;
}

.mil-end-xll-6 {
  margin-inline-end: 6.25em;
}

.m-xxll-1 {
  margin: 6.5em;
}

.mb-xxll-1 {
  margin-block: 6.5em;
}

.mb-start-xxll-1 {
  margin-block-start: 6.5em;
}

.mb-end-xxll-1 {
  margin-block-end: 6.5em;
}

.mil-xxll-1 {
  margin-inline: 6.5em;
}

.mil-start-xxll-1 {
  margin-inline-start: 6.5em;
}

.mil-end-xxll-1 {
  margin-inline-end: 6.5em;
}

.m-xxll-2 {
  margin: 6.75em;
}

.mb-xxll-2 {
  margin-block: 6.75em;
}

.mb-start-xxll-2 {
  margin-block-start: 6.75em;
}

.mb-end-xxll-2 {
  margin-block-end: 6.75em;
}

.mil-xxll-2 {
  margin-inline: 6.75em;
}

.mil-start-xxll-2 {
  margin-inline-start: 6.75em;
}

.mil-end-xxll-2 {
  margin-inline-end: 6.75em;
}

.m-xxll-3 {
  margin: 7em;
}

.mb-xxll-3 {
  margin-block: 7em;
}

.mb-start-xxll-3 {
  margin-block-start: 7em;
}

.mb-end-xxll-3 {
  margin-block-end: 7em;
}

.mil-xxll-3 {
  margin-inline: 7em;
}

.mil-start-xxll-3 {
  margin-inline-start: 7em;
}

.mil-end-xxll-3 {
  margin-inline-end: 7em;
}

.m-xxll-4 {
  margin: 7.25em;
}

.mb-xxll-4 {
  margin-block: 7.25em;
}

.mb-start-xxll-4 {
  margin-block-start: 7.25em;
}

.mb-end-xxll-4 {
  margin-block-end: 7.25em;
}

.mil-xxll-4 {
  margin-inline: 7.25em;
}

.mil-start-xxll-4 {
  margin-inline-start: 7.25em;
}

.mil-end-xxll-4 {
  margin-inline-end: 7.25em;
}

.m-xxll-5 {
  margin: 7.5em;
}

.mb-xxll-5 {
  margin-block: 7.5em;
}

.mb-start-xxll-5 {
  margin-block-start: 7.5em;
}

.mb-end-xxll-5 {
  margin-block-end: 7.5em;
}

.mil-xxll-5 {
  margin-inline: 7.5em;
}

.mil-start-xxll-5 {
  margin-inline-start: 7.5em;
}

.mil-end-xxll-5 {
  margin-inline-end: 7.5em;
}

.m-xxll-6 {
  margin: 7.75em;
}

.mb-xxll-6 {
  margin-block: 7.75em;
}

.mb-start-xxll-6 {
  margin-block-start: 7.75em;
}

.mb-end-xxll-6 {
  margin-block-end: 7.75em;
}

.mil-xxll-6 {
  margin-inline: 7.75em;
}

.mil-start-xxll-6 {
  margin-inline-start: 7.75em;
}

.mil-end-xxll-6 {
  margin-inline-end: 7.75em;
}

.m-xxll-7 {
  margin: 8em;
}

.mb-xxll-7 {
  margin-block: 8em;
}

.mb-start-xxll-7 {
  margin-block-start: 8em;
}

.mb-end-xxll-7 {
  margin-block-end: 8em;
}

.mil-xxll-7 {
  margin-inline: 8em;
}

.mil-start-xxll-7 {
  margin-inline-start: 8em;
}

.mil-end-xxll-7 {
  margin-inline-end: 8em;
}

.m-xxll-8 {
  margin: 8.5em;
}

.mb-xxll-8 {
  margin-block: 8.5em;
}

.mb-start-xxll-8 {
  margin-block-start: 8.5em;
}

.mb-end-xxll-8 {
  margin-block-end: 8.5em;
}

.mil-xxll-8 {
  margin-inline: 8.5em;
}

.mil-start-xxll-8 {
  margin-inline-start: 8.5em;
}

.mil-end-xxll-8 {
  margin-inline-end: 8.5em;
}

.m-xxll-9 {
  margin: 9em;
}

.mb-xxll-9 {
  margin-block: 9em;
}

.mb-start-xxll-9 {
  margin-block-start: 9em;
}

.mb-end-xxll-9 {
  margin-block-end: 9em;
}

.mil-xxll-9 {
  margin-inline: 9em;
}

.mil-start-xxll-9 {
  margin-inline-start: 9em;
}

.mil-end-xxll-9 {
  margin-inline-end: 9em;
}

.m-xxll-10 {
  margin: 9.5em;
}

.mb-xxll-10 {
  margin-block: 9.5em;
}

.mb-start-xxll-10 {
  margin-block-start: 9.5em;
}

.mb-end-xxll-10 {
  margin-block-end: 9.5em;
}

.mil-xxll-10 {
  margin-inline: 9.5em;
}

.mil-start-xxll-10 {
  margin-inline-start: 9.5em;
}

.mil-end-xxll-10 {
  margin-inline-end: 9.5em;
}

.p-smll-1 {
  padding: 0.5em;
}

.pb-smll-1 {
  padding-block: 0.5em;
}

.pb-start-smll-1 {
  padding-block-start: 0.5em;
}

.pb-end-smll-1 {
  padding-block-end: 0.5em;
}

.pi-smll-1 {
  padding-inline: 0.5em;
}

.pi-start-smll-1 {
  padding-inline-start: 0.5em;
}

.pi-end-smll-1 {
  padding-inline-end: 0.5em;
}

.p-smll-2 {
  padding: 0.75em;
}

.pb-smll-2 {
  padding-block: 0.75em;
}

.pb-start-smll-2 {
  padding-block-start: 0.75em;
}

.pb-end-smll-2 {
  padding-block-end: 0.75em;
}

.pi-smll-2 {
  padding-inline: 0.75em;
}

.pi-start-smll-2 {
  padding-inline-start: 0.75em;
}

.pi-end-smll-2 {
  padding-inline-end: 0.75em;
}

.p-smll-3 {
  padding: 1em;
}

.pb-smll-3 {
  padding-block: 1em;
}

.pb-start-smll-3 {
  padding-block-start: 1em;
}

.pb-end-smll-3 {
  padding-block-end: 1em;
}

.pi-smll-3 {
  padding-inline: 1em;
}

.pi-start-smll-3 {
  padding-inline-start: 1em;
}

.pi-end-smll-3 {
  padding-inline-end: 1em;
}

.p-smll-4 {
  padding: 1.25em;
}

.pb-smll-4 {
  padding-block: 1.25em;
}

.pb-start-smll-4 {
  padding-block-start: 1.25em;
}

.pb-end-smll-4 {
  padding-block-end: 1.25em;
}

.pi-smll-4 {
  padding-inline: 1.25em;
}

.pi-start-smll-4 {
  padding-inline-start: 1.25em;
}

.pi-end-smll-4 {
  padding-inline-end: 1.25em;
}

.p-smll-5 {
  padding: 1.5em;
}

.pb-smll-5 {
  padding-block: 1.5em;
}

.pb-start-smll-5 {
  padding-block-start: 1.5em;
}

.pb-end-smll-5 {
  padding-block-end: 1.5em;
}

.pi-smll-5 {
  padding-inline: 1.5em;
}

.pi-start-smll-5 {
  padding-inline-start: 1.5em;
}

.pi-end-smll-5 {
  padding-inline-end: 1.5em;
}

.p-smll-6 {
  padding: 1.75em;
}

.pb-smll-6 {
  padding-block: 1.75em;
}

.pb-start-smll-6 {
  padding-block-start: 1.75em;
}

.pb-end-smll-6 {
  padding-block-end: 1.75em;
}

.pi-smll-6 {
  padding-inline: 1.75em;
}

.pi-start-smll-6 {
  padding-inline-start: 1.75em;
}

.pi-end-smll-6 {
  padding-inline-end: 1.75em;
}

.p-mdd-1 {
  padding: 2em;
}

.pb-mdd-1 {
  padding-block: 2em;
}

.pb-start-mdd-1 {
  padding-block-start: 2em;
}

.pb-end-mdd-1 {
  padding-block-end: 2em;
}

.pi-mdd-1 {
  padding-inline: 2em;
}

.pi-start-mdd-1 {
  padding-inline-start: 2em;
}

.pi-end-mdd-1 {
  padding-inline-end: 2em;
}

.p-mdd-2 {
  padding: 2.25em;
}

.pb-mdd-2 {
  padding-block: 2.25em;
}

.pb-start-mdd-2 {
  padding-block-start: 2.25em;
}

.pb-end-mdd-2 {
  padding-block-end: 2.25em;
}

.pi-mdd-2 {
  padding-inline: 2.25em;
}

.pi-start-mdd-2 {
  padding-inline-start: 2.25em;
}

.pi-end-mdd-2 {
  padding-inline-end: 2.25em;
}

.p-mdd-3 {
  padding: 2.5em;
}

.pb-mdd-3 {
  padding-block: 2.5em;
}

.pb-start-mdd-3 {
  padding-block-start: 2.5em;
}

.pb-end-mdd-3 {
  padding-block-end: 2.5em;
}

.pi-mdd-3 {
  padding-inline: 2.5em;
}

.pi-start-mdd-3 {
  padding-inline-start: 2.5em;
}

.pi-end-mdd-3 {
  padding-inline-end: 2.5em;
}

.p-mdd-4 {
  padding: 2.75em;
}

.pb-mdd-4 {
  padding-block: 2.75em;
}

.pb-start-mdd-4 {
  padding-block-start: 2.75em;
}

.pb-end-mdd-4 {
  padding-block-end: 2.75em;
}

.pi-mdd-4 {
  padding-inline: 2.75em;
}

.pi-start-mdd-4 {
  padding-inline-start: 2.75em;
}

.pi-end-mdd-4 {
  padding-inline-end: 2.75em;
}

.p-mdd-5 {
  padding: 3em;
}

.pb-mdd-5 {
  padding-block: 3em;
}

.pb-start-mdd-5 {
  padding-block-start: 3em;
}

.pb-end-mdd-5 {
  padding-block-end: 3em;
}

.pi-mdd-5 {
  padding-inline: 3em;
}

.pi-start-mdd-5 {
  padding-inline-start: 3em;
}

.pi-end-mdd-5 {
  padding-inline-end: 3em;
}

.p-mdd-6 {
  padding: 3.25em;
}

.pb-mdd-6 {
  padding-block: 3.25em;
}

.pb-start-mdd-6 {
  padding-block-start: 3.25em;
}

.pb-end-mdd-6 {
  padding-block-end: 3.25em;
}

.pi-mdd-6 {
  padding-inline: 3.25em;
}

.pi-start-mdd-6 {
  padding-inline-start: 3.25em;
}

.pi-end-mdd-6 {
  padding-inline-end: 3.25em;
}

.p-lgg-1 {
  padding: 3.5em;
}

.pb-lgg-1 {
  padding-block: 3.5em;
}

.pb-start-lgg-1 {
  padding-block-start: 3.5em;
}

.pb-end-lgg-1 {
  padding-block-end: 3.5em;
}

.pi-lgg-1 {
  padding-inline: 3.5em;
}

.pi-start-lgg-1 {
  padding-inline-start: 3.5em;
}

.pi-end-lgg-1 {
  padding-inline-end: 3.5em;
}

.p-lgg-2 {
  padding: 3.75em;
}

.pb-lgg-2 {
  padding-block: 3.75em;
}

.pb-start-lgg-2 {
  padding-block-start: 3.75em;
}

.pb-end-lgg-2 {
  padding-block-end: 3.75em;
}

.pi-lgg-2 {
  padding-inline: 3.75em;
}

.pi-start-lgg-2 {
  padding-inline-start: 3.75em;
}

.pi-end-lgg-2 {
  padding-inline-end: 3.75em;
}

.p-lgg-3 {
  padding: 4em;
}

.pb-lgg-3 {
  padding-block: 4em;
}

.pb-start-lgg-3 {
  padding-block-start: 4em;
}

.pb-end-lgg-3 {
  padding-block-end: 4em;
}

.pi-lgg-3 {
  padding-inline: 4em;
}

.pi-start-lgg-3 {
  padding-inline-start: 4em;
}

.pi-end-lgg-3 {
  padding-inline-end: 4em;
}

.p-lgg-4 {
  padding: 4.25em;
}

.pb-lgg-4 {
  padding-block: 4.25em;
}

.pb-start-lgg-4 {
  padding-block-start: 4.25em;
}

.pb-end-lgg-4 {
  padding-block-end: 4.25em;
}

.pi-lgg-4 {
  padding-inline: 4.25em;
}

.pi-start-lgg-4 {
  padding-inline-start: 4.25em;
}

.pi-end-lgg-4 {
  padding-inline-end: 4.25em;
}

.p-lgg-5 {
  padding: 4.5em;
}

.pb-lgg-5 {
  padding-block: 4.5em;
}

.pb-start-lgg-5 {
  padding-block-start: 4.5em;
}

.pb-end-lgg-5 {
  padding-block-end: 4.5em;
}

.pi-lgg-5 {
  padding-inline: 4.5em;
}

.pi-start-lgg-5 {
  padding-inline-start: 4.5em;
}

.pi-end-lgg-5 {
  padding-inline-end: 4.5em;
}

.p-lgg-6 {
  padding: 4.75em;
}

.pb-lgg-6 {
  padding-block: 4.75em;
}

.pb-start-lgg-6 {
  padding-block-start: 4.75em;
}

.pb-end-lgg-6 {
  padding-block-end: 4.75em;
}

.pi-lgg-6 {
  padding-inline: 4.75em;
}

.pi-start-lgg-6 {
  padding-inline-start: 4.75em;
}

.pi-end-lgg-6 {
  padding-inline-end: 4.75em;
}

.p-xll-1 {
  padding: 5em;
}

.pb-xll-1 {
  padding-block: 5em;
}

.pb-start-xll-1 {
  padding-block-start: 5em;
}

.pb-end-xll-1 {
  padding-block-end: 5em;
}

.pi-xll-1 {
  padding-inline: 5em;
}

.pi-start-xll-1 {
  padding-inline-start: 5em;
}

.pi-end-xll-1 {
  padding-inline-end: 5em;
}

.p-xll-2 {
  padding: 5.25em;
}

.pb-xll-2 {
  padding-block: 5.25em;
}

.pb-start-xll-2 {
  padding-block-start: 5.25em;
}

.pb-end-xll-2 {
  padding-block-end: 5.25em;
}

.pi-xll-2 {
  padding-inline: 5.25em;
}

.pi-start-xll-2 {
  padding-inline-start: 5.25em;
}

.pi-end-xll-2 {
  padding-inline-end: 5.25em;
}

.p-xll-3 {
  padding: 5.5em;
}

.pb-xll-3 {
  padding-block: 5.5em;
}

.pb-start-xll-3 {
  padding-block-start: 5.5em;
}

.pb-end-xll-3 {
  padding-block-end: 5.5em;
}

.pi-xll-3 {
  padding-inline: 5.5em;
}

.pi-start-xll-3 {
  padding-inline-start: 5.5em;
}

.pi-end-xll-3 {
  padding-inline-end: 5.5em;
}

.p-xll-4 {
  padding: 5.75em;
}

.pb-xll-4 {
  padding-block: 5.75em;
}

.pb-start-xll-4 {
  padding-block-start: 5.75em;
}

.pb-end-xll-4 {
  padding-block-end: 5.75em;
}

.pi-xll-4 {
  padding-inline: 5.75em;
}

.pi-start-xll-4 {
  padding-inline-start: 5.75em;
}

.pi-end-xll-4 {
  padding-inline-end: 5.75em;
}

.p-xll-5 {
  padding: 6em;
}

.pb-xll-5 {
  padding-block: 6em;
}

.pb-start-xll-5 {
  padding-block-start: 6em;
}

.pb-end-xll-5 {
  padding-block-end: 6em;
}

.pi-xll-5 {
  padding-inline: 6em;
}

.pi-start-xll-5 {
  padding-inline-start: 6em;
}

.pi-end-xll-5 {
  padding-inline-end: 6em;
}

.p-xll-6 {
  padding: 6.25em;
}

.pb-xll-6 {
  padding-block: 6.25em;
}

.pb-start-xll-6 {
  padding-block-start: 6.25em;
}

.pb-end-xll-6 {
  padding-block-end: 6.25em;
}

.pi-xll-6 {
  padding-inline: 6.25em;
}

.pi-start-xll-6 {
  padding-inline-start: 6.25em;
}

.pi-end-xll-6 {
  padding-inline-end: 6.25em;
}

.p-xxll-1 {
  padding: 6.5em;
}

.pb-xxll-1 {
  padding-block: 6.5em;
}

.pb-start-xxll-1 {
  padding-block-start: 6.5em;
}

.pb-end-xxll-1 {
  padding-block-end: 6.5em;
}

.pi-xxll-1 {
  padding-inline: 6.5em;
}

.pi-start-xxll-1 {
  padding-inline-start: 6.5em;
}

.pi-end-xxll-1 {
  padding-inline-end: 6.5em;
}

.p-xxll-2 {
  padding: 6.75em;
}

.pb-xxll-2 {
  padding-block: 6.75em;
}

.pb-start-xxll-2 {
  padding-block-start: 6.75em;
}

.pb-end-xxll-2 {
  padding-block-end: 6.75em;
}

.pi-xxll-2 {
  padding-inline: 6.75em;
}

.pi-start-xxll-2 {
  padding-inline-start: 6.75em;
}

.pi-end-xxll-2 {
  padding-inline-end: 6.75em;
}

.p-xxll-3 {
  padding: 7em;
}

.pb-xxll-3 {
  padding-block: 7em;
}

.pb-start-xxll-3 {
  padding-block-start: 7em;
}

.pb-end-xxll-3 {
  padding-block-end: 7em;
}

.pi-xxll-3 {
  padding-inline: 7em;
}

.pi-start-xxll-3 {
  padding-inline-start: 7em;
}

.pi-end-xxll-3 {
  padding-inline-end: 7em;
}

.p-xxll-4 {
  padding: 7.25em;
}

.pb-xxll-4 {
  padding-block: 7.25em;
}

.pb-start-xxll-4 {
  padding-block-start: 7.25em;
}

.pb-end-xxll-4 {
  padding-block-end: 7.25em;
}

.pi-xxll-4 {
  padding-inline: 7.25em;
}

.pi-start-xxll-4 {
  padding-inline-start: 7.25em;
}

.pi-end-xxll-4 {
  padding-inline-end: 7.25em;
}

.p-xxll-5 {
  padding: 7.5em;
}

.pb-xxll-5 {
  padding-block: 7.5em;
}

.pb-start-xxll-5 {
  padding-block-start: 7.5em;
}

.pb-end-xxll-5 {
  padding-block-end: 7.5em;
}

.pi-xxll-5 {
  padding-inline: 7.5em;
}

.pi-start-xxll-5 {
  padding-inline-start: 7.5em;
}

.pi-end-xxll-5 {
  padding-inline-end: 7.5em;
}

.p-xxll-6 {
  padding: 7.75em;
}

.pb-xxll-6 {
  padding-block: 7.75em;
}

.pb-start-xxll-6 {
  padding-block-start: 7.75em;
}

.pb-end-xxll-6 {
  padding-block-end: 7.75em;
}

.pi-xxll-6 {
  padding-inline: 7.75em;
}

.pi-start-xxll-6 {
  padding-inline-start: 7.75em;
}

.pi-end-xxll-6 {
  padding-inline-end: 7.75em;
}

.p-xxll-7 {
  padding: 8em;
}

.pb-xxll-7 {
  padding-block: 8em;
}

.pb-start-xxll-7 {
  padding-block-start: 8em;
}

.pb-end-xxll-7 {
  padding-block-end: 8em;
}

.pi-xxll-7 {
  padding-inline: 8em;
}

.pi-start-xxll-7 {
  padding-inline-start: 8em;
}

.pi-end-xxll-7 {
  padding-inline-end: 8em;
}

.p-xxll-8 {
  padding: 8.5em;
}

.pb-xxll-8 {
  padding-block: 8.5em;
}

.pb-start-xxll-8 {
  padding-block-start: 8.5em;
}

.pb-end-xxll-8 {
  padding-block-end: 8.5em;
}

.pi-xxll-8 {
  padding-inline: 8.5em;
}

.pi-start-xxll-8 {
  padding-inline-start: 8.5em;
}

.pi-end-xxll-8 {
  padding-inline-end: 8.5em;
}

.p-xxll-9 {
  padding: 9em;
}

.pb-xxll-9 {
  padding-block: 9em;
}

.pb-start-xxll-9 {
  padding-block-start: 9em;
}

.pb-end-xxll-9 {
  padding-block-end: 9em;
}

.pi-xxll-9 {
  padding-inline: 9em;
}

.pi-start-xxll-9 {
  padding-inline-start: 9em;
}

.pi-end-xxll-9 {
  padding-inline-end: 9em;
}

.p-xxll-10 {
  padding: 9.5em;
}

.pb-xxll-10 {
  padding-block: 9.5em;
}

.pb-start-xxll-10 {
  padding-block-start: 9.5em;
}

.pb-end-xxll-10 {
  padding-block-end: 9.5em;
}

.pi-xxll-10 {
  padding-inline: 9.5em;
}

.pi-start-xxll-10 {
  padding-inline-start: 9.5em;
}

.pi-end-xxll-10 {
  padding-inline-end: 9.5em;
}

.size-tiny {
  font-size: 0.75rem;
}

.size-small {
  font-size: 0.875rem;
}

.size-base {
  font-size: 1rem;
}

.size-large {
  font-size: 1.25rem;
}

.size-xl {
  font-size: 1.5rem;
}

.size-2xl {
  font-size: 2rem;
}

.size-3xl {
  font-size: 2.5rem;
}

.size-4xl {
  font-size: 3rem;
}

.size-5xl {
  font-size: 4rem;
}

.size-6xl {
  font-size: 5rem;
}

.size-7xl {
  font-size: 6rem;
}

.size-8xl {
  font-size: 7rem;
}

.bg-blue {
  background-color: #007bff;
}

.bg-grey {
  background-color: #e6e6e6;
}

.bg-green {
  background-color: #28a745;
}

.bg-red {
  background-color: #dc3545;
}

.bg-yellow {
  background-color: #ffc107;
}

.bg-l-blue {
  background-color: #17a2b8;
}

.bg-white {
  background-color: #f8f9fa;
}

.bg-black {
  background-color: #343a40;
}

.text-blue {
  color: #007bff;
}

.text-grey {
  color: #e6e6e6;
}

.text-green {
  color: #28a745;
}

.text-red {
  color: #dc3545;
}

.text-yellow {
  color: #ffc107;
}

.text-l-blue {
  color: #17a2b8;
}

.text-white {
  color: #f8f9fa;
}

.text-black {
  color: #343a40;
}

.b-1 {
  border: 1px solid;
}

.bt-1 {
  border-top: 1px solid;
}

.br-1 {
  border-right: 1px solid;
}

.bb-1 {
  border-bottom: 1px solid;
}

.bl-1 {
  border-left: 1px solid;
}

.b-2 {
  border: 2px solid;
}

.bt-2 {
  border-top: 2px solid;
}

.br-2 {
  border-right: 2px solid;
}

.bb-2 {
  border-bottom: 2px solid;
}

.bl-2 {
  border-left: 2px solid;
}

.b-3 {
  border: 3px solid;
}

.bt-3 {
  border-top: 3px solid;
}

.br-3 {
  border-right: 3px solid;
}

.bb-3 {
  border-bottom: 3px solid;
}

.bl-3 {
  border-left: 3px solid;
}

.b-4 {
  border: 4px solid;
}

.bt-4 {
  border-top: 4px solid;
}

.br-4 {
  border-right: 4px solid;
}

.bb-4 {
  border-bottom: 4px solid;
}

.bl-4 {
  border-left: 4px solid;
}

.b-5 {
  border: 5px solid;
}

.bt-5 {
  border-top: 5px solid;
}

.br-5 {
  border-right: 5px solid;
}

.bb-5 {
  border-bottom: 5px solid;
}

.bl-5 {
  border-left: 5px solid;
}

.b-blue-1 {
  border: 1px solid #007bff;
}

.b-blue-2 {
  border: 2px solid #007bff;
}

.b-blue-3 {
  border: 3px solid #007bff;
}

.b-blue-4 {
  border: 4px solid #007bff;
}

.b-blue-5 {
  border: 5px solid #007bff;
}

.b-grey-1 {
  border: 1px solid #e6e6e6;
}

.b-grey-2 {
  border: 2px solid #e6e6e6;
}

.b-grey-3 {
  border: 3px solid #e6e6e6;
}

.b-grey-4 {
  border: 4px solid #e6e6e6;
}

.b-grey-5 {
  border: 5px solid #e6e6e6;
}

.b-green-1 {
  border: 1px solid #28a745;
}

.b-green-2 {
  border: 2px solid #28a745;
}

.b-green-3 {
  border: 3px solid #28a745;
}

.b-green-4 {
  border: 4px solid #28a745;
}

.b-green-5 {
  border: 5px solid #28a745;
}

.b-red-1 {
  border: 1px solid #dc3545;
}

.b-red-2 {
  border: 2px solid #dc3545;
}

.b-red-3 {
  border: 3px solid #dc3545;
}

.b-red-4 {
  border: 4px solid #dc3545;
}

.b-red-5 {
  border: 5px solid #dc3545;
}

.b-yellow-1 {
  border: 1px solid #ffc107;
}

.b-yellow-2 {
  border: 2px solid #ffc107;
}

.b-yellow-3 {
  border: 3px solid #ffc107;
}

.b-yellow-4 {
  border: 4px solid #ffc107;
}

.b-yellow-5 {
  border: 5px solid #ffc107;
}

.b-l-blue-1 {
  border: 1px solid #17a2b8;
}

.b-l-blue-2 {
  border: 2px solid #17a2b8;
}

.b-l-blue-3 {
  border: 3px solid #17a2b8;
}

.b-l-blue-4 {
  border: 4px solid #17a2b8;
}

.b-l-blue-5 {
  border: 5px solid #17a2b8;
}

.b-white-1 {
  border: 1px solid #f8f9fa;
}

.b-white-2 {
  border: 2px solid #f8f9fa;
}

.b-white-3 {
  border: 3px solid #f8f9fa;
}

.b-white-4 {
  border: 4px solid #f8f9fa;
}

.b-white-5 {
  border: 5px solid #f8f9fa;
}

.b-black-1 {
  border: 1px solid #343a40;
}

.b-black-2 {
  border: 2px solid #343a40;
}

.b-black-3 {
  border: 3px solid #343a40;
}

.b-black-4 {
  border: 4px solid #343a40;
}

.b-black-5 {
  border: 5px solid #343a40;
}

.CustomBorder {
  border: 1px solid grey;
  border-right: none;
  border-left: none;
}

.absolutePosition0 {
  position: absolute;
  font-size: larger;
  bottom: 50px;
  right: -96px;
  transform: rotate(90deg);
}

.absolutePosition1 {
  position: fixed;
  font-size: larger;
  bottom: 50px;
  right: -30px;
  transform: rotate(90deg);
}

.rotateArrow {
  transform: rotate(-90deg);
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1) rotate(90deg);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91) rotate(90deg);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98) rotate(90deg);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87) rotate(90deg);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1) rotate(90deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1) rotate(90deg);
    animation-timing-function: ease-out;
  }
}
.colorAlmostWhite {
  color: rgb(216, 205, 205);
}/*# sourceMappingURL=customClass.css.map */