p {
    margin: 0 !important;
}

.imgSize {
    object-fit: cover;
    width: 20px;
    height: 20px;
}

.nav-link {
    display: block;
    padding: 0.2rem 0.5rem;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.slide-in {
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hoverEffect {
    font-weight: bold;
}

.hoverEffect:hover {
    color: red;
    text-decoration: underline red 2px;
    font-weight: bold;
}

.class1 {
    font-weight: bold;
    color: red;
}

.imgStyle {
    width: 100%;
    height: 450px;
}

.absolute {
    color: white;
    position: absolute;
    bottom: 50px;
    left: 0;
}
